body {
    background: rgb(157, 157, 255);
    font: normal 15pt Arial;

}

header {
    text-align: center;

}

section {
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);

}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}

h1{
    color:#000;
}
p{
    color:#000;
}

